<template>
  <div class="menu-container">
    <h2>Menu</h2>
    <div class="options-container">
      <div class="option" v-for="(selections, option) in options">
        <h2>{{ option }}</h2>
        <p
          class="selection"
          v-on:click="onSelect(option.type, index)"
          :class="{ selected: selection.selected }"
          v-for="(selection, index) in selections"
        >
          <span v-if="selection.shortCut.titleIndex > 0">{{
            selection.title.slice(0, selection.shortCut.titleIndex)
          }}</span>
          <span style="text-decoration: underline">{{ selection.title[selection.shortCut.titleIndex] }}</span
          >{{ selection.title.slice(selection.shortCut.titleIndex + 1, selection.title.length) }}
        </p>
      </div>
    </div>
    <div class="begin-container">
      <button class="begin-button" :class="{ selected: ready }">
        {{ hasInitiatedNext && !isSnippetReady ? 'Loading Code...' : 'Press Space to Start' }}
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { Options, OptionType, Selection } from '@/store/types'

@Component({})
export default class Menu extends Vue {
  private langTimeout?: number // set a debounce for req lang snippet
  private hasInitiatedNext: boolean = false

  private created() {
    window.addEventListener('keydown', this.onGlobalKey)
  }

  private beforeMount() {
    if (this.$store.getters.language) this.$store.dispatch('fetchSnippet', this.$store.getters.language)
  }
  get options(): Options {
    return this.$store.state.options
  }

  private onSelect(optionType: string, index: number) {
    this.$store.commit('setMenuOption', { optionType, index })
  }

  // If we have all needed options set
  private get ready(): boolean {
    return !!(this.$store.getters.maxRoundTime && this.$store.getters.language)
  }

  // If snippet has been fetched
  private get isSnippetReady(): boolean {
    return !!this.$store.state.snippetArr.length
  }

  private beforeDestroy() {
    window.removeEventListener('keydown', this.onGlobalKey)
  }

  private checkSnippetReady() {
    setTimeout(() => {
      if (this.isSnippetReady) this.$store.commit('setTyperState', 'round')
      else this.checkSnippetReady()
    }, 100)
  }

  // Handle shortcut selections
  private onGlobalKey(event: KeyboardEvent) {
    // Space key = start round
    if (event.code === 'Space' && this.ready) {
      this.hasInitiatedNext = true
      if (!this.isSnippetReady) {
        this.checkSnippetReady()
      } else this.$store.commit('setTyperState', 'round')
    } else {
      // Handle Option shortcuts
      for (const key in this.options) {
        // @ts-ignore
        const index = this.options[key].findIndex((selection: Selection) => selection.shortCut.key === event.key)
        if (index >= 0) {
          this.$store.commit('setMenuOption', { type: key, index })
          // @ts-ignore
          this.debounceLanguage(key, this.options[key][index])
          break
        }
      }
    }
    event.preventDefault()
  }

  // Debounce the fetching of snippet from URL
  // Cancel prev fetch on language change / toggle
  private debounceLanguage(optionType: OptionType, selection: Selection): void {
    if (optionType === OptionType.LANGUAGE) {
      clearTimeout(this.langTimeout)
      if (selection.selected) {
        this.langTimeout = setTimeout(() => {
          this.$store.dispatch('fetchSnippet', selection.value)
        }, 200)
      }
    }
  }
}
</script>

<style scoped>
h2 {
  text-transform: uppercase;
}
.menu-container {
  display: flex;
  flex-direction: column;
  user-select: none;
  height: 100%;
  padding: 10px;
}
.options-container {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}
.option {
  width: 20%;
}
.selection {
  border: 1px solid darkgray;
  text-transform: uppercase;
  padding: 5px 0;
}
.selected {
  border: 2px aqua solid;
  color: aqua;
}
.begin-container {
  margin-bottom: 20px;
}
.begin-button {
  font-size: 26px;
  padding: 10px 40px;
  outline: none;
}
</style>
