<template>
  <div class="main">
    <div class="snippet">
      <div :class="{ blur: countDown }" v-for="(line, lineIndex) in snippetLines" :key="lineIndex">
        <div style="display: inline-block" v-for="(word, wordIndex) in line" :key="wordIndex">
          <span
            :class="{
              'current-word': !countDown && currentLineIndex === lineIndex && currentWordIndex === wordIndex,
              'completed-word':
                lineIndex < currentLineIndex || (lineIndex === currentLineIndex && wordIndex < currentWordIndex),
              'incorrect-word': currentLineIndex === lineIndex && currentWordIndex === wordIndex && !correctChars,
            }"
            class="word"
            >{{ word }}</span
          >
          <!-- Show ⏎ at the end of the current line -->
          <span
            style="font-size: 20px; margin-left: 5px;"
            v-if="currentLineIndex === lineIndex && wordIndex === snippetLines[currentLineIndex].length - 1"
            >&#9166;</span
          >
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="timer">{{ roundTime }}</div>
      <label v-if="!countDown">
        <input
          spellcheck="false"
          ref="userInput"
          class="user-input"
          v-model="userInput"
          v-on:keypress.enter="onEnter"
        />
      </label>
      <div v-else class="user-input">{{ countDown }}</div>
      <div class="character-count">{{ !countDown ? cpm : '-' }} CPM</div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import axios from 'axios'

@Component
export default class Round extends Vue {
  public $refs!: {
    userInput: HTMLInputElement
  }
  // code snippet broken down into an array of
  // lines each containing an array of words
  private snippetLines: string[][] = this.$store.state.snippetArr
  private currentLineIndex: number = 0 // current snippet line the user is on in the code snippet
  private currentWordIndex: number = 0 // current word the user is on in the snippet line
  private userInput: string = ''
  private characterCount: number = 0
  private roundTime: number = this.$store.getters.maxRoundTime // current round time countdown
  private cpm: number = 0 // Characters Per Minute
  private countDown: number = 3 // Pre round countdown

  // isIncorrect: boolean
  @Watch('userInput')
  private onUserInput(val: string) {
    if (this.currentWord === val) {
      // increased currentWordIndex if we aren't on the last word of the snippet line (forces user to press Enter)
      if (this.currentWordIndex < this.snippetLines[this.currentLineIndex].length - 1) {
        this.characterCount += this.currentWord.trimEnd().length
        this.calcCPM()
        this.userInput = '' // user has inputted the correct word
        this.currentWordIndex++
      }
    }
  }

  private onEnter() {
    // support pressing enter at the end of each snippet line
    if (
      this.currentWord === this.userInput &&
      this.currentWordIndex === this.snippetLines[this.currentLineIndex].length - 1
    ) {
      this.characterCount += this.currentWord.trimEnd().length
      this.calcCPM()
      this.currentLineIndex++
      this.currentWordIndex = 0
      this.userInput = ''
      while (this.currentWord === ' ') this.currentWordIndex++ // skip all empty spaces on new line
    }
  }

  private calcCPM() {
    const elapseTime = this.$store.getters.maxRoundTime - this.roundTime
    this.cpm = Math.round((this.characterCount / elapseTime) * 60)
  }

  private get currentWord(): string {
    return this.snippetLines[this.currentLineIndex][this.currentWordIndex]
  }

  // Check is current user input contains correct characters
  private get correctChars() {
    return this.currentWord.indexOf(this.userInput) === 0
  }

  private async created() {
    while (this.currentWord === ' ') this.currentWordIndex++ // Skip upcoming white spaces
  }

  private mounted() {
    this.countDownTimer()
  }

  private countDownTimer() {
    setTimeout(() => {
      if (this.countDown > 0) {
        this.countDown--
        this.countDownTimer()
      }
      if(this.countDown == 0) {
        this.$nextTick(() => {
          this.$refs.userInput.focus()
          this.roundTimer()
        })
      }
    }, 1000)
  }

  private roundTimer() {
    setTimeout(() => {
      if (this.roundTime > 0) {
        if (this.roundTime % 2) this.calcCPM()
        this.roundTime--
        this.roundTimer()
      } else {
        this.calcCPM()
        this.$store.commit('setCpm', this.cpm)
        this.$store.commit('setTyperState', 'score')
      }
    }, 1000)
  }
}
</script>

<style scoped>
.snippet {
  user-select: none;
  background: black;
  padding: 10px 10px 0;
  font-size: 26px;
  white-space: pre-wrap;
  text-align: left;
  flex-grow: 1;
}

.blur {
  filter: blur(5px);
}

.word {
  padding: 0 0 0 2px;
}

.current-word {
  background-color: rgba(52, 152, 219, 0.3);
}

.completed-word {
  color: #2c3e50;
}

.incorrect-word {
  background-color: red;
}

.user-input {
  color: white;
  outline: none;
  font-size: 26px;
  background-color: black;
  text-align: center;
  flex-shrink: 0;
  flex-grow: 1;
  border: none;
}

.timer {
  font-size: 26px;
  background-color: black;
  text-align: center;
  width: 20%;
}

.character-count {
  font-size: 26px;
  background-color: black;
  text-align: center;
  width: 20%;
  margin: 0 20px;
}

.bottom {
  margin-top: 5px;
  border: 1px solid darkgray;
  display: flex;
  justify-content: space-between;
}
</style>
