<template>
  <div class="menu-container">
    <h2>Score</h2>
    <div class="score-container">
      <div class="score">
        <h2>CPM</h2>
        <p style="font-size: 48px;">
          {{ $store.state.cpm }}
        </p>
      </div>
    </div>
    <div class="options-container">
      <div class="button-wrapper">
        <button class="retry-button"><span style="text-decoration: underline">R</span>etry</button>
      </div>
      <div class="button-wrapper" style="flex-grow: 2;">
        <button class="menu-button">Press Space for Menu</button>
      </div>
      <div class="button-wrapper"></div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
@Component({})
export default class Score extends Vue {
  private created() {
    window.addEventListener('keydown', this.onGlobalKey)
  }

  private beforeDestroy() {
    window.removeEventListener('keydown', this.onGlobalKey)
  }

  // Handle shortcut selections
  private onGlobalKey(event: KeyboardEvent) {
    // Space key = start round
    if (event.code === 'Space') {
      this.$store.commit('setTyperState', 'menu')
    } else if(event.key ==='r') {
      this.$store.dispatch('retryRound')
    }
  }
}
</script>

<style scoped>
h2 {
  text-transform: uppercase;
}
.menu-container {
  display: flex;
  flex-direction: column;
  user-select: none;
  height: 100%;
  padding: 10px;
}
.score-container {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}
.score {
  width: 20%;
}
.selection {
  border: 1px solid darkgray;
  text-transform: uppercase;
  padding: 5px 0;
}
.selected {
  border: 2px aqua solid;
  color: aqua;
}
.options-container {
  display: flex;
  /*justify-content: space-around;*/
  margin-bottom: 20px;
}
.menu-button {
  font-size: 26px;
  padding: 10px 40px;
  outline: none;
}
.retry-button {
  font-size: 26px;
  padding: 10px 40px;
  outline: none;
}
.button-wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  justify-content: center;
}
</style>
