<template>
  <div class="home">
    <h1 style="user-select: none">Programmer Typer</h1>
    <Typer />
  </div>
</template>

<script>
import Typer from '@/components/Typer'

export default {
  name: 'home',
  components: {
    Typer,
  },
}
</script>
<style lang="scss">
html {
  background: black;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
