<template>
  <div class="main">
    <Round v-if="state === 'round'" />
    <Score v-else-if="state === 'score'" />
    <Menu v-else />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Round from '@/components/States/Round.vue'
import Menu from '@/components/States/Menu.vue'
import Score from '@/components/States/Score.vue'

@Component({
  components: { Round, Menu, Score },
})
export default class Typer extends Vue {
  private get state() {
    return this.$store.state.typerState
  }
}
</script>

<style scoped>
.main {
  background: black;
  display: flex;
  flex-direction: column;
  width: 900px;
  height: 600px;
  border: 3px solid darkgray;
  user-select: none;
  overflow: hidden;
}
</style>
